/* Imports & supports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@supports (font-variation-settings: normal) {
  html {
    font-family: "Roboto", sans-serif;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "BhuTuka Expanded One", ;
  }
}



/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: flex;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */
:root {
  /* colores */
  --color: #fffff;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* variable para background */
  --background: hsl(var(--clr-white));
  /* tipografia */
  --f-family: "Roboto", sans-serif;
  --f-family2: "BhuTuka Expanded One", sans-serif;
  --f-size: 18px;
  --f-weight:400;
  /* utilidades */
  --h-screen: 100vh;
}

/* Aplica estas variables a todos los elementos */
* {
  font-family: var(--f-family);
  font-size: var(--f-size);
  font-weight: var(--f-weight);
  background: var(--background);
  color: var(--color);
}

/* Layout */
.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

/* Componentes */
.banner {
    max-height: 100vh;
    --background: rgb(232, 236, 192);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner h1 {
  --f-family: BhuTuka Expanded One;
  --f-size: 30px;
  --f-weight: 300;
}
.banner h2 {
  --f-family: Roboto;
  --f-size: 70px;
  --f-weight: 900;
}

.banner p {
  --f-family: Roboto;
  --f-size: 18px;
  --f-weight: 300;
}

/* Utilidades */
.flex {
  display: flex;
}
.grid {
  display: grid;
}

.centrar {
  display: grid;
  place-content: center;
}

.h-screen {
  height: var(--h-screen);
}

/* @media screen and (min-width: 40em) {} */
